*{
    outline: 1px solid black;
    margin: 0;
    text-align: auto;
}

body{
    height: 667px;
    margin: 0;
}

/*default is portrait phone view*/

nav{
    outline: 2px solid blue;
    height: 10%;

}
#menu{
    background-color: green;
    height: 30%
}

#header{
    background-color: orange;
    height: 70%;
}


main{
    height: 90%;

}

#oneBig{
    background-color: blue;
    height: 61%;
}

#buttons{
    height: 39%;
}

.small{
    background-color: blueviolet;
    height: 33.3%;
}

@media  screen and (min-width: 600px) {
    nav{
        height: 10%;
        div{
            display: inline-block;
        }
        #menu{
            width: 19%;
            height: 100%;
        }
        #header{
            width: 80%;
            height: 100%;
        }
    }
    main{
        height: 90%;
        #oneBig{
            height: 60%;
        }
        #buttons{
            height: 40%;
            #small1, #small2{
                display: inline-block;
                width: 49.5%;

            }
        }
    }

@media screen and (min-width: 992px) {
    
}
}
